/* App.css */

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: none;
  /* Remove background */
}

.question-container {
  text-align: center;
  /* Center align the text */
}

.question-container .question {
  color: white;
  /* Set question color to white */
  font-weight: bold;
  /* Make question font bold */
}

.navigation-buttons {
  margin-top: 20px;
}

.navigation-buttons button {
  background-color: #5568FE;
  /* Bright blue for buttons */
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.navigation-buttons button:hover {
  background-color: #3748F0;
  /* Darker blue on hover */
}

/* Add styles for selected and unselected options in QuestionComponent.css */