/* Base styles */
body,
html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    /* Dark background */
    color: #ffffff;
    /* Light text */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Style for the question text */
.question {
    color: #ffffff;
    /* White color for the question */
    font-size: 2em;
    font-weight: bold;
    /* Make font bold */
    margin-bottom: 20px;
    text-align: center;
    /* Center align text */
}

/* Style for the answer options (tags) */
.option {
    display: inline-block;
    background-color: #4E4E4E;
    /* Dark grey for options */
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Flip colors on selection */
.option.selected {
    background-color: #ffffff;
    /* White background for selected */
    color: #121212;
    /* Dark text for selected */
}

/* Style for the navigation buttons */
.navigation-button {
    background-color: #5568FE;
    /* Bright blue for the button */
    color: #ffffff;
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin: 10px;
    transition: background-color 0.3s;
}

.navigation-button:hover {
    background-color: #3748F0;
    /* Darker blue on hover */
}

/* Flex container for navigation buttons */
.navigation-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}